{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Detail
{% endblock %}

{% block body %}
    <h2>Wish Details</h2>
    <div class="wish-details">
        <h2>{{ wish.title }}</h2>
        <div class="wish-detail">Description : {{ wish.description }}</div>
        <div class="wish-detail">Author : {{ wish.author }}</div>
        <div class="wish-detail">Publication date : {{ wish.dateCreated | date('Y-m-d H:i') }}</div>
    </div>
{% endblock %}

