<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('wish_list') }}">Wish List</a></li>
        {% if app.user %}
            <li><a href="{{ path('wish_add') }}">Add a wish</a></li>
            <li><a href="{{ path('app_logout') }}">Logout ({{ app.user.pseudo }})</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Register</a></li>
        {% endif %}

        <li><a href="{{ path('main_about_us') }}">About Us</a></li>
    </ul>
</nav>